.ui.text.menu .header.item {
  text-transform: none;
  font-size: 14px;
  font-weight: bolder;
}

.five.wide.column > div {
  margin: 0 auto !important;
  width: 250px;
  padding-top: 20px;
}

.ui.rating {
  cursor: pointer;
}

.ui.vertical.menu .item > .label {
  background: transparent;
  color: #9A9A9A;
  font-weight: normal;
}


.ui.text.menu .active.item, .ui.text.menu .active.item:hover {
  color: #fff;
  .label {
    color: #fff;
  }
  background-color: #2897C5;
  border-radius: 4px !important;
}