@import '../../node_modules/normalize-scss/sass/normalize';
@import '../../node_modules/semantic-ui-css/semantic.css';

// custom component styles
@import 'semantic';
@import 'searchbar';
@import 'restaurant';
@import 'sidebar';
@import 'grid';
@import 'filters';
@import 'ratings';

body {
  background-image:
     url(../images/background.png);
  background-repeat: repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

*:focus {
    outline: none;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    background-image:
       url(../images/background_@2X.png);
}

.ui.container {
  background-color: #fff;

}

@media only screen and (min-width: 768px){
  .ui.container {
    margin-top: 30px;
  }
}
